body {
    /*background-image: url("../desert-oasis-lake-palm-polygon.jpg");*/
}
canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.shoot-cursor {
    cursor:  url(/assets/attack_cursor.png) 10.5 10.5, default;
}
.heal-cursor {
    cursor:  url(/assets/heal_cursor.png) 10.5 10.5, default;
}
.login {
    height:110px;
    width:190px;
    border:1px #CCC solid;
    padding:10px;
    float: left;
    display: none;
} 
.login input {
    padding:5px;
    margin:5px
}
.login-error {
    color: red;
}