Beaker==1.8.1
bottle==0.12.13
bottle-cork==0.12.0
colorlog==2.10.0
Fabric==1.13.1
gevent==1.2.1
greenlet==0.4.11
ipdb==0.10.1
ipython==5.1.0
Jinja2==2.9.4
mongoengine==0.11.0
Pillow==4.0.0
pymongo==3.4.0
PyTMX==3.20.16
PyYAML==3.12
pyzmq==16.0.2
redis==2.10.5
ujson==1.35
wsaccel==0.6.2
karellen-geventws==1.0.1
fabric3